---
layout: default
title: All Projects
---

{% include page_header.html %}
<!-- start expericen section -->
<section class="recent-work section-padding">
    <div class="container">
<!--        <div class="row">
            <div class="col-md-12">
                <div class="project-nav">
                    <ul>
                        <li class="active" data-filter="*">All Project</li>
                        <li data-filter=".engineering">engineering</li>
                        <li data-filter=".gas-oil">gas &amp; oil</li>
                        <li data-filter=".industry">industry</li>
                        <li data-filter=".manufature">Manufature</li>
                        <li data-filter=".research">Research</li>
                    </ul>
                </div>
            </div>
        </div>-->
        <div class="row projectactive">
            {% for work in site.works %}
            <div class="col-md-4 col-lg-3 gas-oil">
                <div class="single-project">
                    <div class="project-thumb">
                        <a href="{{work.url}}"><img src="{{work.image}}" alt="{{work.title}}"></a>
                    </div>
                    <div class="project-desc">
                        <a href="{{work.url}}"><h4>{{work.title}}</h4></a>
                        <p>{{work.desc | truncate: 70}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
