<!-- start slider area -->
<section class="main-slider-area">
    <div class="active-main-slider owl-carousel">

        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/mm_working.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Experience matters</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">With over 20 years of small home repair and renovation experience,<br> I will get the job done</h2>
                                    <div class="welcome-button" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">
                                        <a href="{{site.baseurl}}/pages/contact" class="btn btn-default button-primary">Call For Appointment</a>
                                        <a href="{{site.baseurl}}/pages/services" class="btn btn-default button-primary btn-dark">Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/mm_bathroom_vanity_low.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Knowledge drives quality</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Working as a handy man in so many fields,<br> there's very little I haven't seen</h2>
                                    <div class="welcome-button" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">
                                        <a href="{{site.baseurl}}/pages/contact" class="btn btn-default button-primary">Call For Appointment</a>
                                        <a href="{{site.baseurl}}/pages/services" class="btn btn-default button-primary btn-dark">Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/mm_deck.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Customized creativity</h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">I work with you to find the right approach <br> that works for you and your project</h2>
                                    <div class="welcome-button" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">
                                        <a href="{{site.baseurl}}/pages/contact" class="btn btn-default button-primary">Call For Appointment</a>
                                        <a href="{{site.baseurl}}/pages/services" class="btn btn-default button-primary btn-dark">Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of slider area -->